@CHARSET "UTF-8";

#menu{
	text-align: center;
	background: #f3b57c;
	padding: 5px 15px;
}

#menu li {
	
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14 px  verdana, sans-serif;
}

.menuiz{
	float: left;
	width: 20%; 
	margin: 20px;
}

.seccion_centro{
	float: left;
	width: 60%;
	margin: 20px
}

.aside_derecha{
	float: left;
	width: 20%;
	margin: 20px
}

.plaza{
	width: 80%;
}

html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}




