@CHARSET "UTF-8";

#menu{
	background: #5ccccc;
	padding: 5px 15px;
}

#menu li {
	text-align: center;
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14 px  verdana, sans-serif;
}

body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

