@CHARSET "UTF-8";
#icon01{
	width: 200px;
	height: 200px;
}

#menu{
	text-align: center;
	background: #f3b57c;
	padding: 5px 15px;
}

.cambio{
	width: 200px;
	height: 250px;
}

#menu li {
	
	display: inline-block;
	list-style: none;
	padding: 5px;
	font: bold 14 px  verdana, sans-serif;
}

.menuiz{
	float: left;
	width: 20%; 
	margin: 20px;
}

.seccion_centro{
	float: left;
	width: 60%;
	margin: 20px
}

.aside_derecha{
	float: left;
	width: 20%;
	margin: 20px
}

.lateral{
	float: left;
}

.plaza{
	width: 90%;
}

html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

.social {
	position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
	right: 0; /* Establecemos la barra en la izquierda */
	top: 200px; /* Bajamos la barra 200px de arriba a abajo */
	z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}
 
	.social ul {
		list-style: none;
	}
 
	.social ul li a {
		float: right;
		display: inline-block;
		color:#fff;
		background: #000;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition:all 500ms ease;
		-o-transition:all 500ms ease;
		transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
	}
 
	.social ul li .icon-facebook {background:#3b5998;} /* Establecemos los colores de cada red social, aprovechando su class */
	.social ul li .icon-twitter {background: #00abf0;}
	.social ul li .icon-googleplus {background: #d95232;}
	.social ul li .icon-pinterest {background: #ae181f;}
	.social ul li .icon-mail {background: #666666;}
 
	.social ul li a:hover {
		background: #000; /* Cambiamos el fondo cuando el usuario pase el mouse */
		padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
	}



